body {
  background-image: linear-gradient(
      to right,
      rgba(99, 111, 164, 0.4) 0%,
      rgba(232, 203, 192, 0.4) 100%
    ),
    url(../src/pictures/background.jpg);
  background-color: #e8cbc0;
  background-size: cover;
  background-attachment: fixed;
}

.title {
  margin-top: 200px;
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  color: rgba(69, 69, 192, 0.462);
}

.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  padding-bottom: 24px;
}
